import React from "react"
import BuyAccessButton from "./BuyAccessButton"
import { useOmegaPro } from "../hooks/useOmegaPro"

const TherapyReflectionApp = () => {
  const isPro = useOmegaPro()

  return (
    <div>
      {/* Your existing reflection app content */}
      
      {/* Add this before your summarise section */}
      {!isPro && (
        <div className="my-4 p-4 border rounded-md bg-white/40">
          <BuyAccessButton />
          <p className="text-xs text-gray-600 mt-2">
            Unlock unlimited summaries + PDF for £14.99
          </p>
        </div>
      )}
      
      {/* Rest of your component */}
    </div>
  )
}

export default TherapyReflectionApp

